@using CourseNet.Services.Data.Interfaces
@using CourseNet.Web.Infrastructure.Extensions
@model IEnumerable<CourseNet.Data.Models.Entities.Review>

@inject IInstructorService InstructorService
@{
    bool isUserInstructor = await InstructorService.InstructorExistsByUserId(User.GetId()!);
}

@{
    ViewData["Title"] = "Всички ревюта за курс";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var review in Model)
        {
            <div class="list-group-item">
                <p><b>Рейтинг: </b>@review.Rating/10</p>
                <p><i>@review.Comment</i></p>
                <p><b>Дата: </b> @review.Date</p>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">Все още няма налични ревюта за този курс.</p>
}