@model CourseNet.Data.Models.Entities.User

<h2>Профил</h2>

<div>
    <p><strong>Име:</strong> @Model.FirstName</p>
    <><strong>Фамилия:</strong> @Model.LastName</>
    <p><strong>Адрес:</strong> @Model.Phone</p>
</div>

<p><a asp-action="EditProfile" asp-route-userId="@Model.Id">Редактирай профил</a></p> 