@using CourseNet.Data.Models.Entities.Enums
@model CourseFormViewModel
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание</label>
                <textarea asp-for="Description" rows="4" class="form-control"
                          placeholder="Курсът представлява..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">Крайна дата</label>
                <input asp-for="EndDate" type="text" class="form-control">
                <span asp-validation-for="EndDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath">Път към снимка</label>
                <input asp-for="ImagePath" class="form-control" placeholder="Вашият път към снимка">
                <span asp-validation-for="ImagePath" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Цена</label>
                <input asp-for="Price" class="form-control" placeholder="Добави цена (Формат: 0.00)">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty">Трудност</label>
                <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<DifficultyLevel>()" class="form-control">
                    <option value="">Избери трудност</option>
                </select>
                <span asp-validation-for="Difficulty" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId">Категория</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    </div>
</div>
