@{
    ViewData["Title"] = "Грешка";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elegantthemes.com%2Fblog%2Fwordpress%2F401-error&psig=AOvVaw3hog_5nBA0zmNYtKupJauv&ust=1712218682475000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMC7ieHNpYUDFQAAAAAdAAAAABAE" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Нямаш достъп до тази страница</p>
                </div>
                <div class="text-left text-center h4"> Върнете се обратно към <a asp-controller="Home" asp-action="Index">начална страница</a> </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>