@{
    ViewData["Title"] = "Грешка";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="~/images/error/401-unauthorized-t.jpg" alt="Alternative picture"/>
                <div class="text-left h4">
                    <p>Нямаш достъп до тази страница</p>
                </div>
                <div class="text-left text-center h4"> Върнете се обратно към <a asp-controller="Home" asp-action="Index">начална страница</a> </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>