@{
    ViewData["Title"] = "Грешка";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br />
        <div class="row">
            <div class="col-10">
                <img src="https://blog.thomasnet.com/hs-fs/hubfs/shutterstock_774749455.jpg?width=600&name=shutterstock_774749455.jpg" />
                <div class="text-left text-center h4">
                    <p>Мисля, че сте въвели неправилен URL адрес.</p>
                </div>
                <div class="text-left text-center h4"> Върнете се обратно към <a asp-controller="Home" asp-action="Index">Начална страница</a> </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>