@page

@{
    ViewData["Title"] = "Internal Server Error";
}

<head>
    <meta charset="utf-8" />
    <title>Error - Internal Server Error</title>
</head>
<body>
    <h1>500 - Internal Server Error</h1>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fginbits.com%2Fsolutions-to-the-500-internal-server-error%2F&psig=AOvVaw085hVUQWGV_AN539XC2zHp&ust=1713342871586000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOjv3tqpxoUDFQAAAAAdAAAAABAE " />
    <p>Моля, опитайте по-късно.</p>
</body>