@model IEnumerable<IndexViewModel>

<link rel="stylesheet" href="~/css/home.css" />
    <div class="content">
        <h1>Добре дошли в CourseNET</h1>
        <p>Вашето универсално решение за безпроблемна организация и управление на курсове.</p>
        <p>Не се колебай да се присъединиш и да започнеш своето приключение при нас.</p>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a class="btn btn-primary" href="/Courses">Прегледай курсовете</a>
        }
    </div>

    <div class="mt-5 p-2 bg-light d-none" id="statistics_box">
        <div class="row">
            <h4 class="col-md-4 text-center fw-bold" id="total_enrollments"></h4>
            <h4 class="col-md-4 text-center fw-bold">от общо</h4>
            <h4 class="col-md-4 text-center fw-bold" id="total_courses"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-warning" id="statistics_btn">Покажи статистика</button>
        </div>
    </div>


@section Scripts {
    <script>statistics();</script>
}

