@{
    ViewData["Title"] = "Welcome to CourseNet";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Добре дошли в CourseNet</h1>
            <p class="lead">Вашата платформа за курсове.</p>
            <a class="btn btn-primary" href="/Courses">Прегледай курсовете</a>
        </div>
        <div class="col-md-6">
            <img src="~/images/coursenet-image.gif" alt="CourseNet Image" class="img-fluid rounded">
        </div>
    </div>
</div>