@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CourseNet.Data.Entities.User

<h2>Редактиране на профил</h2>

<form asp-action="EditProfile" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" type="date" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <button type="submit">Запази настройките</button>
</form>