@model CategoryDetailsViewModel

@{
    ViewData["Title"] = "Детайли за категория";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-black text-center">
    <div class="row">
        <h4>
            Име на категория: @Model.Name
        </h4>
    </div>
</div> 