@model IEnumerable<AllCategoryViewModel>
@using static CourseNet.Web.Infrastructure.Extensions.ViewModelExtension
@{
    ViewData["Title"] = "Всичките категории";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="list-group">
    @foreach (AllCategoryViewModel category in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id" asp-route-information="@category">@category.GetUrlInformation()</a>
    }
</div>