@model CourseNet.Web.ViewModels.Instructor.InstructorViewModel

<h2>Страница за кандидатура за инструктор</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Име</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Фамилия</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Електронна поща</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>