@model CourseNet.Web.ViewModels.Course.CourseFormViewModel
@{
    ViewData["Title"] = "Редактирай курс";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_CourseFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}