@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CourseAllViewModel>

@{
    ViewData["Title"] = "Моите курсове";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @if (!Model.Any())
    {
        <h2 class="text-center">Все още нямаш курсове!</h2>
    }
    else
    {
        <div class="row">
            @foreach(var course in Model)
            {
                <partial name="_CoursePartial" model="course"/>
            }
        </div>
    }
</div>